body {
overflow: hidden;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
height: 99vh;
width: 100%;
background-color: black;
background-image: url(1.jpg);
    
}
/*

.inicio .inicio1{
position: absolute;

transition: all 20ms ease-in-out;
-webkit-transition-duration: 0.5s;
transition: all 10ms ease-in-out;
transform: translate(-0%,-0%) scale(1);
    
}
*/



.ban{
position: absolute;
left: 30%;
top: 20px;
width: 30%;
height: 30%;
 }


.baner{
 width: 40vw;
 height: 40vh;
}


.inicio{
position: absolute;
left: 0px;
right: 0px;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
width: 100%;
background-image: url(5.jpg);
background-color: black;

}

.gofamilia{
position: relative;
text-transform: uppercase;
font-size: 4vw;
box-shadow: -4px 5px 1px 5px blue;
border-radius:    115px 1px 110px 14px;
top:  -10%;
left:  14%;
width: 30%;
transition-delay: 0.1s;

}


.botinicio{
position: relative;
text-transform: uppercase;
font-size: 4vw;
box-shadow: 4px 5px 5px 6px red;
border-radius:   5px 54px 5px 55px;
 top:   112%;
left: 90%;
right: 0px;
width: 45%; 
transition-delay: 0.1s;
    height:    5vw;     

}


.login1{
position: relative;
left: 9%;
top: 31%;
right: 0px;
width: 30%;
height: 10%;

    
}

 



.gofamilia:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.1s;
    right: 0;
    background: linear-gradient(180deg,transparent,#a945c7);
 }




INPUT{
position: relative;
display: block;
left: 20%;
height: 10%;
width: 60%;
margin-top: 15%;
top: -10%;
cursor:pointer;

}


.login{
position: absolute;
left: 0px;
right: 0px;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
width: 100%;
background-image: url(5.jpg);
background-color: black;
    
}



.inicio1{

background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-image: url(2.jpg);
margin: 0px;
padding: 0px;
position: absolute;

transform: translate(0%, 0%);
height: 100%;
width: 100%;
z-index: 100;
background-color: black;
}



.go{
position: relative;
text-transform: uppercase;
font-size: 4vh;
box-shadow:  5px 5px 3px 5px red;
border-radius: 5px 54px ;
top:  55%;
width: 15%;
height: 10%; 
font-weight:bolder;
margin-left: 2.3%;
color: red;
text-align: center;
} 





.Acceder{
position: relative;
text-transform: uppercase;
background-color: ;
font-size: 4vw;
box-shadow: 10px 5px currentColor;
border-radius: 554px;
width: 40%;
height: 23%; 
    
} 





.go:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.1s;
    right: 0;
    background: linear-gradient(180deg,transparent,#a945c7);
 }







     Fading animation   
        .fade {  
            -webkit-animation-name: fade;  
            -webkit-animation-duration: 11s;  
            animation-name: fade;  
                animation: fade 11s;

transition: all 20ms ease-in-out;
-webkit-transition-duration: 10.5s;
    transform:translate(0,0) scale(5);
         }  
        @-webkit-keyframes fade {  
            from {  
                opacity: 0;
                    ; 
                
            }  
            to {  
                opacity: 2;
            }  
        }  
  
        @keyframes fade {  
            from {  
                opacity: 0;
                    
            }  
            to {  
                opacity: 2;
                
            }  
        } 




    



.fullvid {
position: absolute;
top: 0%;
left: 0px;
right: 0px;
bottom: 0px;
width: 100%;
height: 100%; 

}
.popup .fullvid {
position:fixed;
transform:scale(0);
z-index: 20000;
text-align:center;
}






.vol {
cursor:pointer;
position:relative;
margin-left:  1-0%;
text-decoration: none;
color:red;
font-size: 8vw;
top: 5%;
}



.vol2 {
cursor:pointer;
position:relative;
margin-right:   55%;
text-decoration: none;

font-size: 8vw;
top: 2%;
}

.DE{
position: relative;
left: 20%;
top: 50vh;
right: 0px;
height: 30vh;
width: 45%; 
transition-delay: 0.1s;
right: 0;
 
}

 

.botinicio:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.1s;
    right: 0;
    background: linear-gradient( 180deg,transparent,#a945c7);
 }



  




.popup.active .fullvid {
transition: all 0.1ms ease-in-out;
transform: translate(-0%,-0%) scale(1);
transition-delay: 0.2s;

}

    


@media only screen and (orientation: portrait){
	
body { 
display: none;
	}

html { 
background-image: url(inicio%20artel.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    top: 0%;
left:  0;
margin: 0;
right: 0; 
bottom: 0;
background-color: black;
	}


.g{
background-color: red;
height: 2vw;
} 
 

}



  